.channel-text-page-container {
    width: 100%;
    height: 100%;
    left: 322px;
    top: 0;
    background-color: #36393F;
    user-select: none;
    animation: fade-in .5s;
    display: flex;
    flex-direction: column;
}

.channel-text-page-header {
    margin-top: 2px;
    height: 48px;
    border-bottom: 1px solid #232527;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.channel-header-tag-img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    color: #84868B;
}

.channel-header-text {
    color: white;
    font-weight: bold;
    height: 50px;
    text-align: left;
    line-height: 50px;
    padding-left: 10px;
    width: 80%;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.channel-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    min-height: 0px;
}

.channel-text-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.channels-users-container {
    background-color: #2F3136;
    width: 240px;
    height: 100%;
    margin-left: 5px;
    padding-left: 5px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.channels-users-members {
    color: #96989D;
    font-weight: 500;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 20px;
}

.user-list-item-container {
    height: 42px;
    width: 200px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #96989D;
}

.user-list-item-pfp {
    background-image: url(../../assets/serversPage/pfp.png);
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
}

.user-list-item-username {
    margin-left: 5px;
    width: 150px;
    font-size: 15px;
}

.user-list-item-container:hover {
    background-color: #42464E;
    border-radius: 5px;
    color: white;
}

.user-list-item-dm {
    visibility: hidden;
    position: absolute;
    margin-top: 30px;
    margin-left: 140px;
    background-color: rgb(37, 35, 35);
    border-radius: 5px;
    width: 30px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    color: #96989D;
}

.user-list-item-container:hover .user-list-item-dm{
    visibility: visible;
    box-shadow: 0px 0px 5px 0.5px rgb(36, 35, 35);
}

.user-list-item-dm:hover {
    cursor: pointer;
    color: white;
}

.channel-text-messages-container {
    width: 100%;
    height: 100%;
    display: block;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

.message-container {
    width: 100%;
    max-width: 70vw;
    min-height: 60px;
    margin-left: 20px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.message-pfp-div {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    margin-left: 5px;
    margin-top: 5px;
    background-image: url(../../assets/serversPage/pfp.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
}

.message-author-div {
    color: white;
}

.message-date-div {
    color: #9DA1A4;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    width: 200px;
}

.message-div {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 94%;
    height: auto;
    min-height: 60px;
    margin-top: 1px;
}

.message-container:hover {
    background-color: #34363C;
    border-radius: 10px;
}

.message-info-container {
    display: flex;
    flex-direction: row;
}

.message-content-div {
    color: #D8D9DA;
    overflow-wrap: break-word;
    margin-top: 5px;
}

.message-content-edit-div {
    color: #D8D9DA;
    overflow-wrap: break-word;
    margin-top: 5px;
}


.message-edit-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 20px;
}

.message-edit-container .message-edit-box {
    visibility: hidden;
    background-color: #33353B;
    border: 1px solid #2C3035;
    border-radius: 5px;
    width: 80px;
    height: 32px;
    margin-top: -15px;
    margin-right: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.message-container:hover .message-edit-box{
    visibility: visible;
    box-shadow: 0px 0px 5px 0.5px rgb(36, 35, 35);
}

.message-edit-btn {
    width: 32px;
    height: 32px;
}

.message-edit-btn:hover {
    cursor: pointer;
    background-color: #444951;
}

.svg-22-edit {
    width: 22px;
    height: 22px;
    margin-top: 5px;
    margin-left: 5px;
}


.message-delete-btn {
    width: 32px;
    height: 32px;
}

.message-delete-btn:hover {
    cursor: pointer;
    background-color: #444951;
}

.svg-22-delete {
    width: 22px;
    height: 22px;
    margin-top: 5px;
    margin-left: 5px;
}


.channel-text-messages-container::-webkit-scrollbar {
    width: 10px;
}

.channel-text-messages-container::-webkit-scrollbar-track {
    background: #2F3238;
    border-radius: 20px;
}
  
.channel-text-messages-container::-webkit-scrollbar-thumb {
    background: #202225;
    border-radius: 20px;
}

.channel-text-messages-form-container {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
}

.channel-text-messages-form-text {
    border-radius: 10px;
    background-color: #40444C;
    border: none;   
    outline: none;
    color: #D1D2D4;
    width: 98%;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 45px;
}

.channel-messages-edit-text {
    border-radius: 10px;
    background-color: #40444C;
    border: none;   
    outline: none;
    color: #D1D2D4;
    width: 85%;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 45px;
}

.message-edit-text {
    width: 300px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
}

.message-edit-confirm {
    font-size: 12px;
    background: none;
    border: none;
    outline: none;
    color: #13A8EA;
    margin-top: -1px;
}

.message-edit-confirm:hover {
    cursor: pointer;
}

.cancel-edit-div {
    font-size: 12px;
    background: none;
    border: none;
    outline: none;
    color: #13A8EA;
}

.cancel-edit-div:hover {
    cursor: pointer;
}