html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

#root {
    width: 100%;
    height: 100%;
}

.server-component-container {
    height: 100%;
    display: flex;
    flex-direction: row;    
}

input {
    padding-left: 5px;
}