.bgImg {
    background-color: #5765F2;
    background-image: url('../../assets/authPage/loginBackground.png');
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.authDiv {
    background-color: #36393F;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 780px;
    height: 400px;
    top: 5%;
    left: 50%;
    margin: 200px 0 0 -370px;
    border-radius: 5px;
    font-family: "ABC Ginto Normal","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.welcomeDiv {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 120px;
    align-items: center;
    height: 60px;
    width: 250px;
    margin-bottom: 0px;
}

.welcomeTxt {
    color: white;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 5px;
}

.fillerTxt {
    color: #B6B8BB;
    font-size: 16px;
}

@media only screen and (max-width: 825px) {
    .authDiv{
        background-color: #36393F;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 480px;
        height: 400px;
        top: 50%;
        left: 50%;
        margin: 200px 0 0 -240px;
        font-family: "ABC Ginto Normal","Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    .demoUserDiv {
        margin-left: 200px !important;
        margin-top: -80px !important;
        width: 20px;
    }
    .registerDiv{
        margin-top: 20px !important;
    }
    .signInDemoUser {
        width: 235px !important;
    }
    .demoUserPfp {
        display: none !important; 
    }
    .demoSignInText {
        display: none !important;
    }
}

.authFormDiv {
    color: #B9BBBE;
    display: flex;
    margin-top: 20px;
    width: 450px;
    height: 250px;
    margin-left: 30px;
}

.authFormDiv > form {
    display: flex;
    flex-direction: column;
}

.authForm > label {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
}

.authForm > label > input {
    background-color: #202225;
    color: white;
    width: 400px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: -5px;
    border: none;
}

.txtBox:focus {
    outline-color: #202225;
    outline-width: 0;
}

.submitBtn {
    background-color: #5865F2;
    color: white;
    width: 403px;
    font-size: 16px;
    height: 40px;
    margin-top: 10px;
    border-radius: 3px;
    outline-width: 0;
    border: none;
}

.submitBtn:hover {
    background-color: rgb(77, 88, 214);   
    cursor: pointer;
}

.submitBtn:active {
    background-color: rgb(65, 74, 178);   
}

.registerDiv {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    width: 250px;
    margin-top: -20px;
    color: #B9BBBE;
    font-size: 12px;
}

.registerBtn {
    color: #00AFF4; 
}

.registerBtn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.demoUserDiv {
    background-image: url();
    margin-left: 450px;
    margin-top: -325px;
    width: 300px;
    height: 280px;
}

.signInDemoUser {
    background-color: #5865F2;
    color: white;
    width: 300px;
    font-size: 16px;
    border-radius: 3px;
    outline-width: 0;
    border: none;
    text-align: center;
    line-height: 40px;
    margin-top: 63px;
}

.signInDemoUser:hover {
    background-color: rgb(77, 88, 214);   
    cursor: pointer;
}

.signInDemoUser:active {
    background-color: rgb(65, 74, 178);   
}

.demoUserPfp {
    background-image: url('../../assets/authPage/demoPfp.png');
    background-size: contain;
    width: 150px;
    height: 150px;
    align-self: center;
    margin-left: 75px;
    margin-top: 30px;
}

.demoSignInText {
    color: #B9BBBE;
    display: flex;
    width: 200px;
    margin-top: -80px;
    margin-left: 50px;
}