.bgImg {
    background-color: #5765F2;
    background-image: url('../../assets/authPage/loginBackground.png');
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.signUpAuthDiv {
    background-color: #36393F;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 480px;
    height: 570px;
    top: 5%;
    left: 50%;
    margin: 160px 0 0 -240px;
    border-radius: 5px;
    font-family: "ABC Ginto Normal","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.signUpwelcomeDiv {
    display: flex;
    margin-top: 30px;
    margin-left: 120px;
    align-items: center;
    height: 60px;
    width: 250px;
    margin-bottom: 0px;
}

.signUpwelcomeTxt {
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.signUpauthFormDiv {
    color: #B9BBBE;
    display: flex;
    margin-top: -20px;
    width: 450px;
    height: 250px;
    margin-left: 30px;
}

.signUpauthFormDiv > form {
    display: flex;
    flex-direction: column;
}

.signUpauthForm > label {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold;
}

.signUpauthForm > label > input {
    background-color: #202225;
    color: white;
    width: 400px;
    height: 45px;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: -5px;
    border: none;
}

.signUptxtBox:focus {
    outline-color: #202225;
    outline-width: 0;
}

.signUpsubmitBtn {
    background-color: #5865F2;
    color: white;
    width: 405px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 3px;
    outline-width: 0;
    border: none;
    text-align: center;
    line-height: 40px;
    margin-bottom: 0px;
}

.signUpsubmitBtn:hover {
    background-color: rgb(77, 88, 214);   
    cursor: pointer;
}

.signUpsubmitBtn:active {
    background-color: rgb(65, 74, 178);   
}

.signUpdemoUser {
    background-color: #5865F2;
    color: white;
    width: 405px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 3px;
    outline-width: 0;
    border: none;
    text-align: center;
    line-height: 40px;
}

.signUpdemoUser:hover {
    background-color: rgb(77, 88, 214);   
    cursor: pointer;
}

.signUpdemoUser:active {
    background-color: rgb(65, 74, 178);   
}

.signUpDiv {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 250px;
    margin-top: 160px;
    color: #B9BBBE;
    font-size: 15px;
}

.signUpBtn {
    color: #00AFF4; 
}

.signUpBtn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.signUpregisterTxtDiv {
    margin-left: 30px;
    width: 400px;
    margin-top: 10px;
    color: #B9BBBE;
    font-size: 12px;
}

.signUpblueTxt {
    color: #00AFF4;
}
